version: '3.8'

services:
  mysqldb:
    image: mysql:8.0
    container_name: mysql_events_container
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: "123456"
      MYSQL_DATABASE: "events"
    volumes:
      - mysql_data:/var/lib/mysql
    restart: always

volumes:
  mysql_data: